<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mikelxc.clashx</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>05DED948-04F0-4ED0-8487-7405AF98EAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D89C787-CE7A-4363-940F-AFF99023FC85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4B42DDF3-92EB-4A4C-90F1-4018DA669D8B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E0A79904-F577-4248-BAD9-CE7BFFFA94A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>77E8CA16-1834-440F-A164-A5F600070A6D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ECAC4F60-DF16-417C-9073-163E00BFBBD9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E804755E-727D-4CE5-ABB3-119858071F9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9049C5F8-8255-4FA1-9A64-C72E9FE66C73</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5B591AAE-36F9-4ACD-8BCC-898D52B1E6F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6042D2E8-5B22-4BBD-9388-05692E56D195</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0FBAC45-A508-4B1A-886F-93ACD95858AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D488BD6F-B309-48F4-A46B-755D919B008B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0FBAC45-A508-4B1A-886F-93ACD95858AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>79077B04-6C3A-4369-A688-3430CD78742E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5471762F-A737-4CB8-BFCF-A849BE2630B1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DD6D7E3-96F1-489D-8964-34B7CA51E88C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>895D5D53-857A-4294-8DD5-F8634F1DCF82</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F7168A84-1201-4BBD-B642-69E9004B5F22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1F4B49AC-7092-46C6-8DB7-A3840DDD336C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0D89C787-CE7A-4363-940F-AFF99023FC85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C923DD5D-72F9-4E82-889D-41C99F15B511</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EE7FD00-55DB-4C99-A5FB-8F0F77BD2D1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05DED948-04F0-4ED0-8487-7405AF98EAF8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B591AAE-36F9-4ACD-8BCC-898D52B1E6F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9EB91321-8965-4647-8117-1F0AEF4716D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8FFB7263-3FEA-4D93-8548-0BD80C4EF6F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7C811D8-A39B-42F0-892B-3C414D36C694</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C923DD5D-72F9-4E82-889D-41C99F15B511</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09172A3C-472F-4347-81E4-805CFD0DA206</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</key>
		<array/>
		<key>DA1AA9D5-C1C4-4239-A1F1-82DC14F99632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BFA42EFD-EDC2-4B72-A0A5-ECFE1EFAC00C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0A79904-F577-4248-BAD9-CE7BFFFA94A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FFB7263-3FEA-4D93-8548-0BD80C4EF6F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E804755E-727D-4CE5-ABB3-119858071F9C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DA1AA9D5-C1C4-4239-A1F1-82DC14F99632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Mike Liu</string>
	<key>description</key>
	<string>workflows for clashx</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClashX</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses	try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end tryend ignoring
delay 0.1do shell script "killall System\\ Events"
delay 0.1tell application "System Events" to keystroke "c" using command down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0D89C787-CE7A-4363-940F-AFF99023FC85</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Clash is already disabled</string>
				<key>title</key>
				<string>Sidecar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A7C811D8-A39B-42F0-892B-3C414D36C694</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E0A79904-F577-4248-BAD9-CE7BFFFA94A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8FFB7263-3FEA-4D93-8548-0BD80C4EF6F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>off</string>
						<key>outputlabel</key>
						<string>Turn off</string>
						<key>uid</key>
						<string>77E8CA16-1834-440F-A164-A5F600070A6D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>toggle</string>
						<key>outputlabel</key>
						<string>Turn on/off</string>
						<key>uid</key>
						<string>ECAC4F60-DF16-417C-9073-163E00BFBBD9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>on</string>
						<key>outputlabel</key>
						<string>Turn on</string>
						<key>uid</key>
						<string>9049C5F8-8255-4FA1-9A64-C72E9FE66C73</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>global</string>
						<key>outputlabel</key>
						<string>Use global</string>
						<key>uid</key>
						<string>895D5D53-857A-4294-8DD5-F8634F1DCF82</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>rule</string>
						<key>outputlabel</key>
						<string>Use rule</string>
						<key>uid</key>
						<string>5471762F-A737-4CB8-BFCF-A849BE2630B1</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>direct</string>
						<key>outputlabel</key>
						<string>Use direct</string>
						<key>uid</key>
						<string>1F4B49AC-7092-46C6-8DB7-A3840DDD336C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>status</string>
						<key>outputlabel</key>
						<string>Show proxy status</string>
						<key>uid</key>
						<string>D488BD6F-B309-48F4-A46B-755D919B008B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>Open a terminal window with proxy</string>
						<key>uid</key>
						<string>4B42DDF3-92EB-4A4C-90F1-4018DA669D8B</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>traffic</string>
						<key>outputlabel</key>
						<string>Check traffic</string>
						<key>uid</key>
						<string>6042D2E8-5B22-4BBD-9388-05692E56D195</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>05DED948-04F0-4ED0-8487-7405AF98EAF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>clash</string>
				<key>subtext</key>
				<string>clashx proxies commands</string>
				<key>text</key>
				<string>Proxy</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1EE7FD00-55DB-4C99-A5FB-8F0F77BD2D1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C923DD5D-72F9-4E82-889D-41C99F15B511</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses
try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end try
end ignoring
delay 0.1do shell script "killall System\\ Events"
tell application "System Events" to keystroke "s" using command down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash test.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E804755E-727D-4CE5-ABB3-119858071F9C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Proxy is already enabled</string>
				<key>title</key>
				<string>Sidecar</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BFA42EFD-EDC2-4B72-A0A5-ECFE1EFAC00C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Yes</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>0BDC6CE9-57EB-4AA4-BA79-EC01E392A673</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DA1AA9D5-C1C4-4239-A1F1-82DC14F99632</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}
echo "Proxy enabled"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>09172A3C-472F-4347-81E4-805CFD0DA206</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>9EB91321-8965-4647-8117-1F0AEF4716D8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bash traffic.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5B591AAE-36F9-4ACD-8BCC-898D52B1E6F2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses	try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end tryend ignoring
delay 0.1do shell script "killall System\\ Events"
delay 0.1tell application "System Events" to keystroke "d" using command down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0FBAC45-A508-4B1A-886F-93ACD95858AA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses	try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end tryend ignoring
delay 0.1do shell script "killall System\\ Events"
delay 0.1tell application "System Events" to keystroke "g" using option down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7DD6D7E3-96F1-489D-8964-34B7CA51E88C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses	try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end tryend ignoring
delay 0.1do shell script "killall System\\ Events"
delay 0.1tell application "System Events" to keystroke "r" using option down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>79077B04-6C3A-4369-A688-3430CD78742E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>ignoring application responses	try		tell application "System Events" to tell process "ClashX"			click menu bar item 1 of menu bar 2		end tell	on error		display dialog "Cannot find ClashX on your menu bar"	end tryend ignoring
delay 0.1do shell script "killall System\\ Events"
delay 0.1tell application "System Events" to keystroke "d" using option down</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7168A84-1201-4BBD-B642-69E9004B5F22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The Alfred workflow for clashx

Keyword "clash"

clash (status) to open clash dashboard,
on to enable proxy,
off to disable proxy,
toggle to turn on/off the proxy,
global/rule/direct to switch the mode.</string>
	<key>uidata</key>
	<dict>
		<key>05DED948-04F0-4ED0-8487-7405AF98EAF8</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>09172A3C-472F-4347-81E4-805CFD0DA206</key>
		<dict>
			<key>xpos</key>
			<integer>1275</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>0D89C787-CE7A-4363-940F-AFF99023FC85</key>
		<dict>
			<key>note</key>
			<string>Copy shell command</string>
			<key>xpos</key>
			<integer>1285</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>1EE7FD00-55DB-4C99-A5FB-8F0F77BD2D1C</key>
		<dict>
			<key>xpos</key>
			<integer>15</integer>
			<key>ypos</key>
			<integer>185</integer>
		</dict>
		<key>5B591AAE-36F9-4ACD-8BCC-898D52B1E6F2</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>79077B04-6C3A-4369-A688-3430CD78742E</key>
		<dict>
			<key>xpos</key>
			<integer>295</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>7DD6D7E3-96F1-489D-8964-34B7CA51E88C</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>8FFB7263-3FEA-4D93-8548-0BD80C4EF6F7</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9EB91321-8965-4647-8117-1F0AEF4716D8</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>A0FBAC45-A508-4B1A-886F-93ACD95858AA</key>
		<dict>
			<key>note</key>
			<string>Status</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>605</integer>
		</dict>
		<key>A7C811D8-A39B-42F0-892B-3C414D36C694</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>BFA42EFD-EDC2-4B72-A0A5-ECFE1EFAC00C</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>225</integer>
		</dict>
		<key>C923DD5D-72F9-4E82-889D-41C99F15B511</key>
		<dict>
			<key>xpos</key>
			<integer>1280</integer>
			<key>ypos</key>
			<integer>195</integer>
		</dict>
		<key>CDB70F86-D301-4FDB-BA20-41B285C2EDB8</key>
		<dict>
			<key>note</key>
			<string>Toggle</string>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>DA1AA9D5-C1C4-4239-A1F1-82DC14F99632</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>E0A79904-F577-4248-BAD9-CE7BFFFA94A7</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>E804755E-727D-4CE5-ABB3-119858071F9C</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>F7168A84-1201-4BBD-B642-69E9004B5F22</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/mikelxc/clashx-alfred</string>
</dict>
</plist>
